{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MedVisual</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}" />
  </head>
  <body>
    <header>
      <!-- Navbar -->
      <nav>
        <div class="container flex-row space_between">
          <div class="flex-row space_around logo-icon-wrapper">
            <div class="logo">LoGo</div>
            <div class="icon-show-off" id="showContentButton">
              <span>+</span>
            </div>
          </div>
          <div class="nav-item">
            <ul class="flex-row space_around">
              <li><a href="#">Home</a></li>
              <li><a href="#">Report</a></li>
              <li><a href="#">Talk With Doctor</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
          <div class="user">
            <ul class="flex-row space_around">
              <li><a href="#">Login</a></li>
              <li><a href="#">SignUp</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <section id="all-chat">
      <div class="single-chat-acc flex-row">
        <div class="single-chat-image">
          <img src="{% static 'images/doctor_img.jpg' %}" alt="Doctor Image" />
        </div>
        <div class="single-chat-acc-simple-details flex-column">
          <p>Dr. Black</p>
          <p>MBSS At Dhaka</p>
        </div>
      </div>
      <div class="single-chat-acc flex-row">
        <div class="single-chat-image">
          <img src="{% static 'images/doctor_img.jpg' %}" alt="Doctor Image" />
        </div>
        <div class="single-chat-acc-simple-details flex-column">
          <p>Dr. Black</p>
          <p>MBSS At Dhaka</p>
        </div>
      </div>
      <div class="single-chat-acc flex-row">
        <div class="single-chat-image">
          <img src="{% static 'images/doctor_img.jpg' %}" alt="Doctor Image" />
        </div>
        <div class="single-chat-acc-simple-details flex-column">
          <p>Dr. Black</p>
          <p>MBSS At Dhaka</p>
        </div>
      </div>
    </section>

    <section id="msg-option">
      <div class="messege-header flex-row">
        <div class="message-header-image">
          <img src="{% static 'images/doctor_img.jpg' %}" alt="Doctor Image" />
        </div>
        <div class="message-header-details flex-column">
          <p>Dr. Black</p>
          <p>MBSS At Dhaka</p>
        </div>
      </div>

      <div class="all-msg">
        <div class="single-msg-full">
          <div class="single-msg flex-row left-msg">
            <div class="msg-image">
              <img src="{% static 'images/doctor_img.jpg' %}" alt="Doctor Image" />
            </div>
            <div class="msges">
              <p>Dr. Black</p>
              <p class="actual-msg">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Laboriosam cum labore alias magni, amet, sapiente reprehenderit
                quia officia tenetur culpa magnam. Expedita culpa adipisci
                officiis.
              </p>
            </div>
          </div>
        </div>
        <div class="single-msg-full">
          <div class="single-msg flex-row left-msg">
            <div class="msg-image">
              <img src="{% static 'images/doctor_img.jpg' %}" alt="Doctor Image" />
            </div>
            <div class="msges">
              <p>Dr. Black</p>
              <p class="actual-msg">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Laboriosam cum labore alias magni, amet, sapiente reprehenderit
                quia officia tenetur culpa magnam. Expedita culpa adipisci
                officiis.
              </p>
            </div>
          </div>
        </div>
        <div class="single-msg-full">
          <div class="single-msg flex-row right-msg">
            <div class="msg-image">
              <img src="{% static 'images/doctor_img.jpg' %}" alt="Doctor Image" />
            </div>
            <div class="msges">
              <p>Dr. Black</p>
              <p class="actual-msg">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Laboriosam cum labore alias magni, amet, sapiente reprehenderit
                quia officia tenetur culpa magnam. Expedita culpa adipisci
                officiis.
              </p>
            </div>
          </div>
        </div>
        <div class="single-msg-full">
          <div class="single-msg flex-row left-msg">
            <div class="msg-image">
              <img src="{% static 'images/doctor_img.jpg' %}" alt="Doctor Image" />
            </div>
            <div class="msges">
              <p>Dr. Black</p>
              <p class="actual-msg">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Laboriosam cum labore alias magni, amet, sapiente reprehenderit
                quia officia tenetur culpa magnam. Expedita culpa adipisci
                officiis.
              </p>
            </div>
          </div>
        </div>
        <div class="single-msg-full">
          <div class="single-msg flex-row left-msg">
            <div class="msg-image">
              <img src="{% static 'images/doctor_img.jpg' %}" alt="Doctor Image" />
            </div>
            <div class="msges">
              <p>Dr. Black</p>
              <p class="actual-msg">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Laboriosam cum labore alias magni, amet, sapiente reprehenderit
                quia officia tenetur culpa magnam. Expedita culpa adipisci
                officiis.
              </p>
            </div>
          </div>
        </div>
        <div class="single-msg-full">
          <div class="single-msg flex-row right-msg">
            <div class="msg-image">
              <img src="{% static 'images/doctor_img.jpg' %}" alt="Doctor Image" />
            </div>
            <div class="msges">
              <p>Dr. Black</p>
              <p class="actual-msg">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Laboriosam cum labore alias magni, amet, sapiente reprehenderit
                quia officia tenetur culpa magnam. Expedita culpa adipisci
                officiis.
              </p>
            </div>
          </div>
        </div>
        <div class="single-msg-full">
            <div class="single-msg flex-row left-msg">
              <div class="msg-image">
                <img src="{% static 'images/doctor_img.jpg' %}" alt="Doctor Image" />
              </div>
              <div class="msges">
                <p>Dr. Black</p>
                <p class="actual-msg">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Laboriosam cum labore alias magni, amet, sapiente reprehenderit
                  quia officia tenetur culpa magnam. Expedita culpa adipisci
                  officiis.
                </p>
              </div>
            </div>
        </div>
          <div class="single-msg-full">
            <div class="single-msg flex-row left-msg">
              <div class="msg-image">
                <img src="{% static 'images/doctor_img.jpg' %}" alt="Doctor Image" />
              </div>
              <div class="msges">
                <p>Dr. Black</p>
                <p class="actual-msg">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Laboriosam cum labore alias magni, amet, sapiente reprehenderit
                  quia officia tenetur culpa magnam. Expedita culpa adipisci
                  officiis.
                </p>
              </div>
            </div>
        </div>
        <div class="single-msg-full">
            <div class="single-msg flex-row left-msg">
              <div class="msg-image">
                <img src="{% static 'images/doctor_img.jpg' %}" alt="Doctor Image" />
              </div>
              <div class="msges">
                <p>Dr. Black</p>
                <p class="actual-msg">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Laboriosam cum labore alias magni, amet, sapiente reprehenderit
                  quia officia tenetur culpa magnam. Expedita culpa adipisci
                  officiis.
                </p>
              </div>
            </div>
        </div>
        <div class="single-msg-full">
            <div class="single-msg flex-row right-msg">
              <div class="msg-image">
                <img src="{% static 'images/doctor_img.jpg' %}" alt="Doctor Image" />
              </div>
              <div class="msges">
                <p>Dr. Black</p>
                <p class="actual-msg">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Laboriosam cum labore alias magni, amet, sapiente reprehenderit
                  quia officia tenetur culpa magnam. Expedita culpa adipisci
                  officiis.
                </p>
              </div>
            </div>
        </div>
        <div class="single-msg-full">
            <div class="single-msg flex-row left-msg">
              <div class="msg-image">
                <img src="{% static 'images/doctor_img.jpg' %}" alt="Doctor Image" />
              </div>
              <div class="msges">
                <p>Dr. Black</p>
                <p class="actual-msg">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Laboriosam cum labore alias magni, amet, sapiente reprehenderit
                  quia officia tenetur culpa magnam. Expedita culpa adipisci
                  officiis.
                </p>
              </div>
            </div>
        </div>
      </div>

      <div class="sent-msg">
        <div>
          <input type="text" placeholder="Give Your Question" />
          <button>Send</button>
        </div>
      </div>
    </section>

    <script src="{% static 'javascript/jquery.min.js' %}"></script>
    <script src="{% static 'javascript/owl.carousel.min.js' %}"></script>
    <script src="{% static 'javascript/script.js' %}"></script>
  </body>
</html>
