{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedVisual</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <header>
        <!-- Navbar -->
        <nav>
            <div class="flex-row space_around">
                <div class="flex-row space_between logo-icon-wrapper">
                    <div class="logo">
                        <img src="{% static 'images/logo.png' %}" alt="Logo">
                        <!-- <h2 class="top-fonts">M<span>ed</span>V<span>isual</span></h2> -->
                    </div>
                    <div class="icon-show-off" id="showContentButton">
                        <span>+</span>
                    </div>
                </div>
                <div class="nav-item">
                    <ul class="flex-row space_around">
                        <li><a href="http://127.0.0.1:8000/index">Home</a></li>
                        <li><a href="http://127.0.0.1:8000/chart">Report</a></li>
                        <li><a href="http://127.0.0.1:8000/appoint_temp">My Appointments </a></li>
                        <li><a href="#contact-us">Contact Us</a></li>

                    </ul>
                </div>
                <div class="user">
                    <ul class="flex-row space_around">
                        {% if user.is_authenticated %}
                            <li><a href="http://127.0.0.1:8000/accounts/logout/">Logout</a></li>
                        {% else %}
                            <li><a href="http://127.0.0.1:8000/accounts/login/">Login</a></li>
                            <li><a href="http://127.0.0.1:8000/accounts/signup/">SignUp</a></li>
                        {% endif %}
                    </ul>
                </div>
                
            </div>
        </nav>

        <div class="header flex-row container">
            <div class="content-side two-side-div">
                <h1 class="top-fonts">
                    Med Visual
                </h1>
                <p>
                    Empowering doctors with real-time disease insights and personalized
                    feedback, while providing users with clear visual data and direct
                    access to medical expertise.
                </p>
                <button class="btn">
                    <a href="#">Start Now</a>
                </button>
            </div>
            <div class="image-side two-side-div">
                <img src="{% static 'images/header.jpg' %}" alt="Home Header">
            </div>
        </div>
    </header>

    <section id="book-apoinment" class="container">
        <div class="book-apoinment-wrapper flex-column">
            <h1 class="top-fonts">Book Appointment</h1>
            <div class="top-appointment-line flex-row space_between">
                <div class="appoinment-section-wrapper flex-column">
                    <p>Patient's Name</p>
                    <input type="text">
                </div>
                <div class="appoinment-section-wrapper flex-column">
                    <p>Doctor's Name</p>
                    <input type="text">
                </div>
                <div class="appoinment-section-wrapper flex-column">
                    <p>Number</p>
                    <input type="text">
                </div>
            </div>
            <div class="details-appointment-line flex-column">
                <p>Problem</p>
                <input type="text">
            </div>
            <button class="btn">Send Appoinment</button>
        </div>
    </section>

    <section id="about-us" class="container flex-row">
        <div class="image-side two-side-div">
            <img src="{% static 'images/about-us.png' %}" alt="About Us">
        </div>

        <div class="content-side two-side-div">
            <h1 class="top-fonts">About Us</h1>
            <p>
                At MedVisual, we are dedicated to enhancing healthcare through innovative technology. Our platform empowers doctors with detailed feedback and insights on disease patterns, while providing users with intuitive graphical interfaces to track their health metrics. By facilitating seamless communication between patients and medical professionals, we aim to improve diagnostic accuracy and treatment effectiveness, ensuring better health outcomes for everyone.
            </p>
            <button class="btn">
                <a href="#">Read more</a>
            </button>
        </div>
    </section>

    <section id="services" class="container">
        <h1 class="top-write top-fonts">Hospital Treatment</h1>
        <div class="services-wrapper flex-row space_between">
            <div class="single-service">
                <div class="single-service-img">
                    <img src="{% static 'images/services/t1.png' %}" alt="Service 1">
                </div>
                <h3>Nephrologist Care</h3>
                <p>
                    alteration in some form, by injected humour, or randomised words
                    which don't look even slightly e sure there isn't anything
                </p>
                <a href="#">Read More</a>
            </div>
            <div class="single-service">
                <div class="single-service-img">
                    <img src="{% static 'images/services/t4.png' %}" alt="Service 2">
                </div>
                <h3>Nephrologist Care</h3>
                <p>
                    alteration in some form, by injected humour, or randomised words
                    which don't look even slightly e sure there isn't anything
                </p>
                <a href="#">Read More</a>
            </div>
            <div class="single-service">
                <div class="single-service-img">
                    <img src="{% static 'images/services/t3.png' %}" alt="Service 3">
                </div>
                <h3>Nephrologist Care</h3>
                <p>
                    alteration in some form, by injected humour, or randomised words
                    which don't look even slightly e sure there isn't anything
                </p>
                <a href="#">Read More</a>
            </div>
        </div>
    </section>

    <section id="doctor" class="container">
        <h1 class="top-write top-fonts">OUR DOCTORS</h1>
        <div class="doctor-wrapper space_around flex-row owl-carousel owl-theme" id="owl-demo">
            <div class="single-doctor">
                <div class="doctor-image">
                    <img src="{% static 'images/team3.jpg' %}" alt="Doctor 1">
                </div>
                <p>Morco</p>
                <p>MBBS</p>
                <ul class="doctor-link flex-row space_around">
                    <li><i class="fa-brands fa-facebook"></i></li>
                    <li><i class="fa-brands fa-x-twitter"></i></li>
                    <li><i class="fa-brands fa-instagram"></i></li>
                    <li><i class="fa-brands fa-youtube"></i></li>
                </ul>
            </div>
            <div class="single-doctor">
                <div class="doctor-image">
                    <img src="{% static 'images/team3.jpg' %}" alt="Doctor 2">
                </div>
                <p>Morco</p>
                <p>MBBS</p>
                <ul class="doctor-link flex-row space_around">
                    <li><i class="fa-brands fa-facebook"></i></li>
                    <li><i class="fa-brands fa-x-twitter"></i></li>
                    <li><i class="fa-brands fa-instagram"></i></li>
                    <li><i class="fa-brands fa-youtube"></i></li>
                </ul>
            </div>
            <div class="single-doctor">
                <div class="doctor-image">
                    <img src="{% static 'images/team3.jpg' %}" alt="Doctor 3">
                </div>
                <p>Morco</p>
                <p>MBBS</p>
                <ul class="doctor-link flex-row space_around">
                    <li><i class="fa-brands fa-facebook"></i></li>
                    <li><i class="fa-brands fa-x-twitter"></i></li>
                    <li><i class="fa-brands fa-instagram"></i></li>
                    <li><i class="fa-brands fa-youtube"></i></li>
                </ul>
            </div>
            <div class="single-doctor">
                <div class="doctor-image">
                    <img src="{% static 'images/team3.jpg' %}" alt="Doctor 4">
                </div>
                <p>Morco</p>
                <p>MBBS</p>
                <ul class="doctor-link flex-row space_around">
                    <li><i class="fa-brands fa-facebook"></i></li>
                    <li><i class="fa-brands fa-x-twitter"></i></li>
                    <li><i class="fa-brands fa-instagram"></i></li>
                    <li><i class="fa-brands fa-youtube"></i></li>
                </ul>
            </div>
            <div class="single-doctor">
                <div class="doctor-image">
                    <img src="{% static 'images/team3.jpg' %}" alt="Doctor 5">
                </div>
                <p>Morco</p>
                <p>MBBS</p>
                <ul class="doctor-link flex-row space_around">
                    <li><i class="fa-brands fa-facebook"></i></li>
                    <li><i class="fa-brands fa-x-twitter"></i></li>
                    <li><i class="fa-brands fa-instagram"></i></li>
                    <li><i class="fa-brands fa-youtube"></i></li>
                </ul>
            </div>
        </div>
    </section>

    <section id="contact-us" class="container flex-row">
        <div class="two-side-div">
            <form action="" class="contact-us">
                <h1 class="top-fonts">Contact Us</h1>
                <input type="text" placeholder="Full Name">
                <input type="email" placeholder="Email">
                <input type="number" placeholder="Phone Number">
                <input type="textarea" placeholder="Message">
                <button class="btn">Send</button>
            </form>
        </div>
        <div class="two-side-div">
            <img src="{% static 'images/contact-us.png' %}" alt="Contact Us">
        </div>
    </section>

    <footer>
        <div class="footer">
            <h2 class="top-fonts">MedVisual</h2>
            <div class="about-us-footer">
                <ul class="flex-row space_around">
                    <li class="flex-column">
                        <p>Shahidullah</p>
                        <a href="https://www.linkedin.com/in/black2o-sh/"><i class="fa-brands fa-linkedin"></i></a>
                    </li>
                    <li class="flex-column">
                        <p>Raiyan</p>
                        <a href="https://www.linkedin.com/in/md-raiyan-rahman-6420982b9/"><i class="fa-brands fa-linkedin"></i></a>
                    </li>
                    <li class="flex-column">
                        <p>Miraj</p>
                        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                    </li>
                    <li class="flex-column">
                        
                       
                    </li>

                </ul>
            </div>
            <div class="footer_copy">
                <span>© Shahidullah || Raiyan || Miraj. All rights reserved</span>
            </div>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/2f363fc945.js" crossorigin="anonymous"></script>
    <script src="{% static 'javascript/jquery.min.js' %}"></script>
    <script src="{% static 'javascript/owl.carousel.min.js' %}"></script>
    <script src="{% static 'javascript/script.js' %}"></script>
</body>
</html>
