{% extends 'components/base.html' %}
{% load static %}

{% block title %}MedVisual{% endblock %}


{% block add_top %}
<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
{% endblock %}


{% block content %}
<header>
        <div class="header flex-row container bottom-nav">
            <div class="content-side two-side-div">
                <h1 class="top-fonts">
                    Med Visual
                </h1>
                <p>
                    Empowering doctors with real-time disease insights and personalized
                    feedback, while providing users with clear visual data and direct
                    access to medical expertise.
                </p>
                <button class="btn">
                    <a href="http://127.0.0.1:8000/upload">Start Now</a>
                </button>
            </div>
            <div class="image-side two-side-div">
                <img src="{% static 'images/header.jpg' %}" alt="Home Header">
            </div>
        </div>
    </header>

    <section id="book-apoinment" class="container">
        <div class="book-apoinment-wrapper flex-column">
            <h1 class="top-fonts">Book Appointment</h1>
            <div class="top-appointment-line flex-row space_between">
                <div class="appoinment-section-wrapper flex-column">
                    <p>Patient's Name</p>
                    <input type="text">
                </div>
                <div class="appoinment-section-wrapper flex-column">
                    <p>Doctor's Name</p>
                    <input type="text">
                </div>
                <div class="appoinment-section-wrapper flex-column">
                    <p>Number</p>
                    <input type="text">
                </div>
            </div>
            <div class="details-appointment-line flex-column">
                <p>Problem</p>
                <input type="text">
            </div>
            <button class="btn">Send Appoinment</button>
        </div>
    </section>

    <section id="about-us" class="container flex-row">
        <div class="image-side two-side-div">
            <img src="{% static 'images/about-us.png' %}" alt="About Us">
        </div>

        <div class="content-side two-side-div">
            <h1 class="top-fonts">About Us</h1>
            <p>
                At MedVisual, we are dedicated to enhancing healthcare through innovative technology. Our platform empowers doctors with detailed feedback and insights on disease patterns, while providing users with intuitive graphical interfaces to track their health metrics. By facilitating seamless communication between patients and medical professionals, we aim to improve diagnostic accuracy and treatment effectiveness, ensuring better health outcomes for everyone.
            </p>
            <button class="btn">
                <a href="#">Read more</a>
            </button>
        </div>
    </section>

    <section id="services" class="container">
        <h1 class="top-write top-fonts">Our Services</h1>
        <div class="services-wrapper flex-row space_between">
            <div class="single-service">
                <div class="single-service-img">
                    <img src="{% static 'images/services/1.png' %}" alt="Service 1">
                </div>
                <h3>Streamlined Report Management</h3>
                <p>
                    Effortlessly upload medical reports for automatic data extraction, advanced organization, and dynamic visualizations, enhancing clarity and accessibility of medical information.
                </p>
                <a href="#">Read More</a>
            </div>
            <div class="single-service">
                <div class="single-service-img">
                    <img src="{% static 'images/services/2.png' %}" alt="Service 2">
                </div>
                <h3>AI-Driven Symptom Analysis & Recommendations</h3>
                <p>
                    Get precise medical specialty recommendations based on AI analysis of your symptoms, ensuring efficient guidance to appropriate healthcare with professionals.
                </p>
                <a href="#">Read More</a>
            </div>
            <div class="single-service">
                <div class="single-service-img">
                    <img src="{% static 'images/services/3.png' %}" alt="Service 3">
                </div>
                <h3>Real-Time Consultations & Secure Tracking</h3>
                <p>
                    Access visualized data during video consultations, benefit from secure storage and continuous health tracking, and connect globally with specialists for accessible and comprehensive care.
                </p>
                <a href="#">Read More</a>
            </div>
        </div>
    </section>

    <section id="doctor" class="container">
        <h1 class="top-write top-fonts">OUR DOCTORS</h1>
        <div class="doctor-wrapper space_around flex-row owl-carousel owl-theme" id="owl-demo">
            <div class="single-doctor">
                <div class="doctor-image">
                    <img src="{% static 'images/team3.jpg' %}" alt="Doctor 1">
                </div>
                <p>Morco</p>
                <p>MBBS</p>
                <ul class="doctor-link flex-row space_around">
                    <li><i class="fa-brands fa-facebook"></i></li>
                    <li><i class="fa-brands fa-x-twitter"></i></li>
                    <li><i class="fa-brands fa-instagram"></i></li>
                    <li><i class="fa-brands fa-youtube"></i></li>
                </ul>
            </div>
            <div class="single-doctor">
                <div class="doctor-image">
                    <img src="{% static 'images/team3.jpg' %}" alt="Doctor 2">
                </div>
                <p>Morco</p>
                <p>MBBS</p>
                <ul class="doctor-link flex-row space_around">
                    <li><i class="fa-brands fa-facebook"></i></li>
                    <li><i class="fa-brands fa-x-twitter"></i></li>
                    <li><i class="fa-brands fa-instagram"></i></li>
                    <li><i class="fa-brands fa-youtube"></i></li>
                </ul>
            </div>
            <div class="single-doctor">
                <div class="doctor-image">
                    <img src="{% static 'images/team3.jpg' %}" alt="Doctor 3">
                </div>
                <p>Morco</p>
                <p>MBBS</p>
                <ul class="doctor-link flex-row space_around">
                    <li><i class="fa-brands fa-facebook"></i></li>
                    <li><i class="fa-brands fa-x-twitter"></i></li>
                    <li><i class="fa-brands fa-instagram"></i></li>
                    <li><i class="fa-brands fa-youtube"></i></li>
                </ul>
            </div>
            <div class="single-doctor">
                <div class="doctor-image">
                    <img src="{% static 'images/team3.jpg' %}" alt="Doctor 4">
                </div>
                <p>Morco</p>
                <p>MBBS</p>
                <ul class="doctor-link flex-row space_around">
                    <li><i class="fa-brands fa-facebook"></i></li>
                    <li><i class="fa-brands fa-x-twitter"></i></li>
                    <li><i class="fa-brands fa-instagram"></i></li>
                    <li><i class="fa-brands fa-youtube"></i></li>
                </ul>
            </div>
            <div class="single-doctor">
                <div class="doctor-image">
                    <img src="{% static 'images/team3.jpg' %}" alt="Doctor 5">
                </div>
                <p>Morco</p>
                <p>MBBS</p>
                <ul class="doctor-link flex-row space_around">
                    <li><i class="fa-brands fa-facebook"></i></li>
                    <li><i class="fa-brands fa-x-twitter"></i></li>
                    <li><i class="fa-brands fa-instagram"></i></li>
                    <li><i class="fa-brands fa-youtube"></i></li>
                </ul>
            </div>
        </div>
    </section>

    <section id="contact-us" class="container flex-row">
        <div class="two-side-div">
            <form action="" class="contact-us">
                <h1 class="top-fonts">Contact Us</h1>
                <input type="text" placeholder="Full Name">
                <input type="email" placeholder="Email">
                <input type="number" placeholder="Phone Number">
                <input type="textarea" placeholder="Message">
                <button class="btn">Send</button>
            </form>
        </div>
        <div class="two-side-div">
            <img src="{% static 'images/contact-us.png' %}" alt="Contact Us">
        </div>
    </section>
    {% endblock %}

    {% block bottom %}
    <script src="{% static 'javascript/jquery.min.js' %}"></script>
    <script src="{% static 'javascript/owl.carousel.min.js' %}"></script>
    <script src="https://kit.fontawesome.com/2f363fc945.js" crossorigin="anonymous"></script>
    <script src="{% static 'javascript/script.js' %}"></script>
    {% endblock %}
