{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    {% block add_top %}

    {% endblock %}
</head>

<body>

    
    <div class="loader-wrap" id="loader">
        <div class="loader">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div id="main" style="display: none;">
        {% include 'components/navbar.html' %}

        {% block content %}

        {% endblock %}

        {% include 'components/footer.html' %}
    </div>


    <script>
        // JavaScript to handle the loader and content display
        document.addEventListener("DOMContentLoaded", function() {
            setTimeout(function() {
                // Hide the loader
                document.getElementById('loader').style.display = 'none';
                // Show the content
                document.getElementById('main').style.display = 'contents';
            }, 1500); // 3000 milliseconds = 3 seconds
        });
    </script>
    

    {% block bottom %}

    {% endblock %}





</body>
</html>
