{% load static %}
<footer>
    <div class="footer">
        <h2 class="top-fonts">MedVisual</h2>
        <div class="about-us-footer">
            <ul class="flex-row space_around">
                <li class="flex-column">
                    <p>Shahidullah</p>
                    <a href="https://www.linkedin.com/in/black2o-sh/"><i class="fa-brands fa-linkedin"></i></a>
                </li>
                <li class="flex-column">
                    <p>Raiyan</p>
                    <a href="https://www.linkedin.com/in/md-raiyan-rahman-6420982b9/"><i class="fa-brands fa-linkedin"></i></a>
                </li>
                <li class="flex-column">
                    <p>Miraj</p>
                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                </li>

            </ul>
        </div>
        <div class="footer_copy">
            <span>© Shahidullah || Raiyan || Miraj. All rights reserved</span>
        </div>
    </div>
</footer>
