@import url('global.css');
body {
    padding: 0;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}
.container {
    display: flex;
    flex-wrap: wrap;
    background: var(--main-bg);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
    margin-top: 7%;
    padding: 3%;
}
.report-section {
    flex: 1;
    max-width: 30%;
    margin-right: 20px;
}

.lab-report-data{
    margin-top: 1rem;
}

.header-container {
    text-align: center;
    margin-bottom: 20px;
    flex-basis: 100%;
}
h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
}
p {
    margin: 5px 0;
    font-size: 16px;
    color: #555;
}
select, canvas, input, .view-toggle, table {
    width: 100%;
    max-width: 100%;
    margin: 10px 0;
    box-sizing: border-box;
}
select, input, .view-toggle {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #e2eded;
    border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
    position: relative;
    cursor: pointer;
    /* appearance: none; */
	border: none;
	outline: none;
}

option {
    color: var(--main-color);
    background-color: var(--second-bg); 
	border: none;
	outline: none;
}
canvas {
    max-width: 100%;
    height: 40vh;
}
td img {
    max-width: 100%;
    max-height: 200px; /* Limiting image height */
    object-fit: cover; /* Maintain aspect ratio */
}
.view-toggle {
    display: flex;
    justify-content: space-around;
}
.view-toggle button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: var(--main-color);
    color: white;
    border-radius: 4px;
    flex: 1;
    margin: 0 5px;
}
.view-toggle button.active {
    background-color: var(--secondary-color);
}
@media (max-width: 768px) {
    .view-toggle {
        flex-direction: column;
    }
    .view-toggle button {
        margin: 5px 0;
        width: 100%;
    }
}
.main-section {
    flex: 2;
    min-width: 70%;
}
/* Modal styling */
#imageModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}
#modalImage {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}
.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


.x{
    color:rgba(0, 255, 0, 1);
}