/* ---------------- Global Classes ---------------- */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');



:root {
    --main-bg: #f5f5f5; 
    --second-bg: #ffffff; 
    --main-color: #00274d; 
    --secondary-color: #009688; 
    /* --extra-color: #6c757d;  */
    --extra-color: #16151a; 
}


html,
body {
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
    background: var(--main-bg);
    color: var(--main-color);
    font-family:  "Lato", sans-serif;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--extra-color);
}
a:hover {
    color:var(--secondary-color)
}

p {
    font-family: 'Lora', serif;
    font-size: 1.15rem;
    text-align: justify;
}
a, button,span {
    font-family: 'Poppins', sans-serif;
}

input {
    appearance: none;
	border: none;
	outline: none;
    width: 100%;
    height: 3em;
    border:none;
    border-bottom: .2em solid var(--secondary-color);
    /* background: rgba(var(--secondary-color), .2); */
    color: var(--secondary-color);
    border-radius: 0.25rem;
}

.top-fonts{
    font-family: 'Merriweather', serif;
    color: var(--main-color);
}



.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.container {
    padding:5%;
}

.container:first-child {
    padding: 1% 5%;
}

.space_around{
    justify-content: space-around;
}
.space_between{
    justify-content: space-between;
}
.two-side-div{
    width: 50%;
}

.btn{
    padding: 1rem 1.75rem;
    border: none;
    background-color: var(--secondary-color);
    color: var(--second-bg);
    border-radius: 0.75rem;
    display: block;
}
.btn a{
    color: var(--second-bg);
}

.btn:hover {
    background: #037a6e;
    cursor: pointer;
}
.bottom-nav{
    margin:6% 0;
}
/* --------X-------- Global Classes --------X-------- */

/* ---------------- Scrollbar ---------------- */

::-webkit-scrollbar {
    width: 0.75rem;
  }
  ::-webkit-scrollbar-track {
    background: var(--main-bg);
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--extra-color);
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
  }
  
  /* --------X-------- Scrollbar --------X-------- */

  


/* ---------------- NavBar ---------------- */
nav{
    position: fixed;
    background-color: var(--second-bg);
    width: 100%;
    height: 6rem;
    border-bottom: 1px solid var(--extra-color);
    z-index: 999;
    overflow: hidden;
}



nav ul li{
    padding: 1rem;
}
.logo{
    width: 50%;
    overflow: hidden;
    padding: 1rem 1rem;
}
.logo img{
    width: 100%;
}
/* .logo h2{
    font-size: 2.5rem;
    font-family: 'Lora', serif;
    color: var(--secondary-color);
} */

.icon-show-off{
    display: none;
    margin: 1rem;
}
.icon-show-off span{
    font-size: 3rem;
}
.user-image{
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 100%;
    cursor: pointer;
}
.user-image img{
    width: 100%;
}


@media only screen and (max-width: 768px) {
    nav .container{
        text-align: center;
    }
    .nav-item ul, .user ul{
        flex-direction: column;
    }
    .icon-show-off{
        display: block;
    }
    .nav-item, .user{
        display: none;
    }
    .logo{
        text-align: left;
    }
    .logo-icon-wrapper{
        width: 100%;
    }
}
@media only screen and (max-width: 868px){
    nav ul li{
        padding: 0.25rem;
    }
} 

/* --------X-------- NavBar --------X-------- */







/* ---------------- Table ---------------- */


table{
    /* border: 1px solid var(--secondary-color); */
    border-collapse: separate;
    border-spacing: 0 10px;
    width: 75%;
    margin: 0 12.5%;
}

thead{
    background-color: var(--main-color);
    color: var(--second-bg);
    -webkit-box-shadow: 0px 0px 20px 15px rgba(0,0,0,1);
-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,1);
box-shadow: 0px 0px 15px 0px rgba(0,0,0,1);
}



thead tr th{
    padding: 1rem;
    margin: 0;
}
tbody{
    background-color: var(--second-bg);
}


tbody tr{
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
    box-shadow: 0px 5px 12px -12px rgba(0, 0, 0);
}
tbody tr td{
    padding: 1rem;
    /* border-left: 1px outset var(--secondary-color);  */
    border-right: 1px dashed var(--secondary-color); 
}

/* --------X-------- Table --------X-------- */













/* ---------------- Loader ---------------- */



.loader-wrap{
    background-color: var(--main-bg);
    padding: 0;
    margin: 0;
    height: 100vh;
    display: grid;
    place-items: center center;
}
.loader{
    height: 350px;
    width: 350px;
    position: relative;
    animation: spin 1.5s infinite;
}
@keyframes spin{
    100%{
        transform: rotate(360deg);
    }
}
.loader>div:nth-child(1){
    height: 75px;
    width: 75px;
    background-image: linear-gradient(
        45deg,
        #009688,
        #004d40
    );
    position: absolute;
    top: 100px;
    left: 100px;
    box-shadow: 0 0 3px #004d40;
    border-radius: 50%;
    animation: move1 1.5s infinite;
}
@keyframes move1{
    50%{
        transform: translate(-30px,-30px) scale(0.3);
    }
}
.loader>div:nth-child(2){
    height: 45px;
    width: 45px;
    background-image: linear-gradient(
        45deg,
        #00bcd4,
        #009688
    );
    position: absolute;
    top: 105px;
    right: 110px;
    box-shadow:  0 0 2px #00bcd4;
    border-radius: 50%;
    animation: move2 1.5s infinite;
}
@keyframes move2{
    50%{
        transform: translate(15px,-20px) scale(0.55);
    }
}
.loader>div:nth-child(3){
    height: 75px;
    width: 75px;
    background-image: linear-gradient(
        45deg,
        #00274d,
        #004d40
    );
    position: absolute;
    bottom: 100px;
    right: 100px;
    box-shadow: 0 0 3px #00274d;
    border-radius: 50%;
    animation: move3 1.5s infinite;
}
@keyframes move3{
    50%{
        transform: translate(30px,30px) scale(0.3);
    }
}
.loader>div:nth-child(4){
    height: 45px;
    width: 45px;
    background-image: linear-gradient(
        45deg,
        #009688,
        #00bcd4
    );
    position: absolute;
    bottom: 105px;
    left: 110px;
    border-radius: 50%;
    animation: move4 1.5s infinite;
}
@keyframes move4{
    50%{
        transform: translate(-15px,20px) scale(0.55);
    }
}

/* --------X-------- Loader --------X-------- */



.animate-left.in-view{
    animation: comeFromLeft 1.5s;
}
.animate-right.in-view{
    animation: comeFromRight 1.5s;
}