<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedVisual</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
</head>
<body>
    
    <header>
    <!-- Navbar -->
        <nav>
            <div class="container flex-row space_between">
                <div class="flex-row space_around logo-icon-wrapper">
                    <div class="logo">LoGo</div>
                    <div class="icon-show-off" id="showContentButton">
                        <span>+</span>
                    </div>
                </div>
                <div class="nav-item">
                    <ul class="flex-row space_around">
                        <li><a href="">Home</a></li>
                        <li><a href="">Report</a></li>
                        <li><a href="">Talk With Doctor</a></li>
                        <li><a href="">Contact Us</a></li>
                    </ul>
                </div>
                <div class="user">
                    <ul class="flex-row space_around">
                        <li><a href="">Login</a></li>
                        <li><a href="">SignUp</a></li>
                    </ul>
                </div>

            </div>
        </nav>  
        
        <div class="header flex-row container">
            <div class="content-side two-side-div">
                <h1>Micro <br> Hospital</h1>
                <p>when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to</p>
                <button class="btn">
                    <a href="">Start Now</a>
                </button>
            </div>
            <div class="image-side two-side-div">
                <img src="Image/header-img.jpg" alt="">
            </div>
        </div>

    </header>

    <section id="book-apoinment" class="container">
        <div class="book-apoinment-wrapper flex-column">
            <h3>Book Appoinment</h3>
            <div class="top-appointment-line flex-row">
                <div class="appoinment-section-wrapper flex-column">
                    <p>Patient's Name</p>
                    <input type="text">
                </div>
                <div class="appoinment-section-wrapper flex-column">
                    <p>Patient's Name</p>
                    <input type="text">
                </div>
                <div class="appoinment-section-wrapper flex-column">
                    <p>Patient's Name</p>
                    <input type="text">
                </div>
            </div>
            <div class="details-appointment-line flex-column">
                <p>Patient Problem</p>
                <input type="text">
            </div>
        </div>
    </section>    


    <section id="about-us" class="container flex-row">
        <div class="image-side two-side-div">
            <img src="Image/about-img.jpg" alt="">
        </div>

        <div class="content-side two-side-div">
            <h1>About Us</h1>
            <p>has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors</p>
            <button class="btn">
                <a href="">Read more.</a>
            </button>
        </div>
    </section>

    <section id="services" class="container">
        <h1 class="top-write">Hospital Treatment</h1>
        <div class="services-wrapper flex-row space_between">
            <div class="single-service">
                <div class="single-service-img">
                    <img src="Image/Services/t1.png" alt="">
                </div>
                <h3>Nephrologist Care</h3>
                <p>alteration in some form, by injected humour, or randomised words which don't look even slightly e sure there isn't anything</p>
                <a href="">Read More</a>
            </div>
            <div class="single-service">
                <div class="single-service-img">
                    <img src="Image/Services/t1.png" alt="">
                </div>
                <h3>Nephrologist Care</h3>
                <p>alteration in some form, by injected humour, or randomised words which don't look even slightly e sure there isn't anything</p>
                <a href="">Read More</a>
            </div>
            <div class="single-service">
                <div class="single-service-img">
                    <img src="Image/Services/t1.png" alt="">
                </div>
                <h3>Nephrologist Care</h3>
                <p>alteration in some form, by injected humour, or randomised words which don't look even slightly e sure there isn't anything</p>
                <a href="">Read More</a>
            </div>
        </div>
    </section>

    <section id="doctor" class="container">
        <h1 class="top-write">OUR DOCTORS</h1>
            <div class="doctor-wrapper space_around flex-row owl-carousel">
                <div class="single-doctor">
                    <div class="doctor-image">
                        <img src="Image/team3.jpg" alt="">
                    </div>
                    <p>Morco</p>
                    <p>MBBS</p>
                    <ul class="doctor-link flex-row space_around">
                        <li>F</li>
                        <li>T</li>
                        <li>I</li>
                        <li>Y</li>
                    </ul>
                </div>
                <div class="single-doctor">
                    <div class="doctor-image">
                        <img src="Image/team3.jpg" alt="">
                    </div>
                    <p>Morco</p>
                    <p>MBBS</p>
                    <ul class="doctor-link flex-row space_around">
                        <li>F</li>
                        <li>T</li>
                        <li>I</li>
                        <li>Y</li>
                    </ul>
                </div>
                <div class="single-doctor">
                    <div class="doctor-image">
                        <img src="Image/team3.jpg" alt="">
                    </div>
                    <p>Morco</p>
                    <p>MBBS</p>
                    <ul class="doctor-link flex-row space_around">
                        <li>F</li>
                        <li>T</li>
                        <li>I</li>
                        <li>Y</li>
                    </ul>
                </div>
                <div class="single-doctor">
                    <div class="doctor-image">
                        <img src="Image/team3.jpg" alt="">
                    </div>
                    <p>Morco</p>
                    <p>MBBS</p>
                    <ul class="doctor-link flex-row space_around">
                        <li>F</li>
                        <li>T</li>
                        <li>I</li>
                        <li>Y</li>
                    </ul>
                </div>
                <div class="single-doctor">
                    <div class="doctor-image">
                        <img src="Image/team3.jpg" alt="">
                    </div>
                    <p>Morco</p>
                    <p>MBBS</p>
                    <ul class="doctor-link flex-row space_around">
                        <li>F</li>
                        <li>T</li>
                        <li>I</li>
                        <li>Y</li>
                    </ul>
                </div>
            </div>
    </section>


    <script src="javascript/jquery.min.js"></script>
    <script src="javascript/owl.carousel.min.js"></script>
    <script src="javascript/script.js"></script>
</body>
</html>