<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MedVisual</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/owl.theme.default.min.css" />
  </head>
  <body>


    <div class="login-sighun-wrapper flex-row">
        <div class="image-side two-side-div">
            <img src="Image/login-signup.jpg" alt="" />
        </div>
        <div class="content-side two-side-div">
            <h1>SignUP</h1>
            <form action="">
                <input type="text" placeholder="UserName">
                <input type="text" placeholder="Email">
                <input type="password" placeholder="Password">
                <input type="date" placeholder="Date Of Birth">
                <input type="submit" class="btn" value="Signup">
            </form>
            <h1>Or</h1>
            <div class="google-login-signup">
                <a href=""><i class="fa-solid fa-g"></i></a>
            </div>

        </div>
    </div>



<script src="https://kit.fontawesome.com/2f363fc945.js" crossorigin="anonymous"></script>
<script src="javascript/jquery.min.js"></script>
<script src="javascript/owl.carousel.min.js"></script>
<script src="javascript/script.js"></script>
</body>
</html>